@cdc3-dev:registry=https://gitlab.com/api/v4/projects/33475127/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=SaE6qhGyRy62MsssYZjt
//gitlab.com/api/v4/projects/33475127/packages/npm/:_authToken=SaE6qhGyRy62MsssYZjt